<h4 class="center blue-text text-lighten-3">Invoices</h4>

<%= render(partial: 'invoices/partials/new', locals: {campaigns: @campaigns} ) %>

<div class="clearfix">
  <a class="waves-effect waves-light btn modal-trigger" class="right" href="#campaign_select">New</a>
</div>

<%= render(partial: 'layouts/partials/search', locals: {search_path: invoices_path}) %>
<%= render(partial: 'invoices/partials/list', locals: {invoices: @invoices}) %>
