<h4 class="center blue-text text-lighten-3">Versions</h4>

<%= render(partial: 'layouts/partials/search', locals: {search_path: versions_path}) %>
<%= render(partial: 'versions/partials/list', locals: {versions: @versions}) %>
