<h4 class="center">Campaigns</h4>

<%= render(partial: 'layouts/partials/search', locals: {search_path: campaigns_path}) %>
<%= render(partial: 'campaigns/partials/list', locals: {campaigns: @campaigns}) %>
