// ===================================================================
// Additional scss
// ===================================================================

.mt-5 {
  margin-top: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.transparent_icon {
  border: 0;
  background: none;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
