// ===================================================================
// Additional scss
// ===================================================================

.mt-5 {
  margin-top: 5px;
}

button.check {
  border: 0;
  background: none;

  &:hover {
    cursor: pointer;
  }
}
