<h4 class="center">Line Items</h4>

<%= render(partial: 'layouts/partials/search', locals: {search_path: line_items_path}) %>
<%= render(partial: 'line_items/partials/list', locals: {line_items: @line_items, show_campaign: true}) %>
